{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block body %}

    <div class="content-section">
        <div class="outer">
            <div class="inner">
                <br/>
                    {{ utils.flashed_messages() }}
                <br/>
                <h1 style="text-align:center;">Customers</h1>
                <div style="text-align:center;" >
                    <a  href="{{ url_for('add_customer') }}" class="btn btn-default btn-lg">
                        <i class="fa fa-plus"></i>
                        Add New Customer
                    </a>
                {% if customers %}
                <hr class="intro-divider">
                <div class="center">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th width="10%"> ID </th>
                                <th width="15%"> Name </th>
                                <th width="20"> Phone </th>
                                <th width="20"> Loan Details </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for customer in customers %}
                            <tr>
                                <td> {{ customer.id }}</td>
                                <td> {{ customer.name }}</td>
                                <td> {{ customer.phone }}</td>
                                <td>
                                    <a href="{{ url_for('customer_details', id=customer.id) }}">
                                    <i class="fa fa-user-plus"></i> Loan Details
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}