{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block body %}
    <div class="content-section">
      <div class="outer">
        <div class="middle">
          <div class="inner">
            <br/>
            {{ utils.flashed_messages() }}
            <br/>
            <h1 style="text-align:center;">Customer: {{ customer.name }} </h1>
              <div style="text-align:center;" >
                <a  href="{{ url_for('add_payment', id=customer.id, loan_type= loan.loan_type) }}" class="btn btn-default btn-lg">
                    <i class="fa fa-plus"></i>
                    Add Payment
                </a>
              </div>
                <hr class="intro-divider">
                <div class="center">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th width="15%">Loan Number</th>
                                <th width="15%">Loan Type</th>
                                <th width="15%">Installment Number</th>
                                <th width="15%">EMI Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for payment in payments %}
                            <tr>
                                <td>{{ payment.loan_number }}</td>
                                <td>{{ payment.loan_type }}</td>
                                <td>{{ payment.installment_number }}</td>
                                <td>{{ payment.installment_amount }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
          </div>
        </div>
      </div>
    </div>
 {% endblock %}